{% extends "base.html" %}

{% block title %}{% trans "Transaction history" %}{% endblock %}

{% block content %}

  <h5>Transaction history</h5>

  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">{% trans "Processed" %}</th>
        <th scope="col">{% trans "Sender" %}</th>
        <th scope="col">{% trans "Recipients" %}</th>
        <th scope="col">{% trans "Amount" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for tx in transactions %}
        <tr>
          <th scope="row">{{ tx.id }}</th>
          <td>{{ tx.processed_time|date }}</td>
          <td>{{ tx.sender.inn_number }}</td>
          <td>{% for recipient in tx.recipients.all %}{{ recipient.inn_number }}<br>{% endfor %}</td>
          <td>{{ tx.amount }}{% trans " rub." %}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4">
            {% trans "No transactions yet." %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
