{% extends "base.html" %}

{% block title %}{% trans "Make transaction" %}{% endblock %}

{% block content %}

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{% trans "Make transaction" %}</h5>
      <p class="card-text">
        <form action="." method="post">
          {% csrf_token %}
          {% bootstrap_form form %}
          {% buttons %}
            <button type="submit" class="btn btn-success btn-block btn-lg">{% trans "Send money" %}</button>
          {% endbuttons %}
        </form>
      </p>
    </div>
  </div>

{% endblock %}

{% block extra %}
  <script>
  /***
    XXX:

    Оно работает, но я выключил, т.к. что бы оно работало хорошо - нужно сделать
    много движений: валидация полей на клиенте (вывод ошибок), сообщение о результате
    обработки формы (сейчас это просто window.alert) и т.п. А так это все и сразу
    получаем стандратными сердствами Django.

    Django и AJAX-штуки не очень хорошо совмещаются (на больших проектах точно).
    Если все делать по нормальноному, то в итоге, я думаю, все сведется к SPA + API.

  ***/

  /***
    $('form').first().submit(function(e){
      e.preventDefault();
      url = $(this).attr('action');
      data = $(this).serialize();
      $.post(url, data, function(response){
        window.alert('Transaction was successful');
        $('form').first().trigger('reset');
      })
    })
  ***/
  </script>
{% endblock %}
