{% extends "base.html" %}

{% block content %}

  {% for message in messages %}
    <div class="alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&#215;</button>
      {{ message }}
    </div>
  {% endfor %}

  <form action="." method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Send money">
  </form>

  <script>
  $('form').first().submit(function(e){
    e.preventDefault();
    url = $(this).attr('action');
    data = $(this).serialize();
    $.post(url, data, function(response){
      window.alert('Transaction was successful');
      $('form').first().trigger('reset');
    })
  })
  </script>

{% endblock %}
